{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <input value="" placeholder="Search..." />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{% trans 'Position' %}</th>
            <th>{% trans 'Profiles' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for position in object_list %}
            <tr>
              <td>{{ position.name }}</td>
              <td>
                {% for profile in position.profile_set.all %}
                  {{ profile.id }}{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </span>
      </div>

    </div>
  </div>
{% endblock %}
