{% extends 'base.html' %}

{% block content %}
  <h1>Hello and welcome!</h1>

  {{ user.first_name|default:"No first name" }}
  {{ user.last_name|default:"No last name" }}
  {{ user.is_authenticated }}
  {{ user.is_anonymous }}

  <div>
    {% if user.is_authenticated %}
      <form action="{% url 'auth_logout' %}">
        <input class="btn btn-warning" type="submit" value="Logout" />
      </form>

      <a href="{% url 'profile__create' %}">Create a profile</a>
    {% else %}
      <a href="{% url 'auth_login' %}">Login</a>
    {% endif %}
  </div>
{% endblock %}
