<!-- -*- coding: utf-8 -*- -->

{% load pipeline %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Test{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    {% block css %}
      {% stylesheet 'base' %}
    {% endblock %}
  </head>
  {% block body_tag %}
  <body class="main-body">
  {% endblock %}
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content_wrapper_tag %}
    <div class="container">
    {% endblock %}
      {% block navigation %}
      {% include 'navbar.html' %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block js %}
        {% javascript 'base' %}
      {% endblock %}
    </div>
  </body>
</html>
