{% extends 'base.html' %}
{% load i18n  %}
{% load static from staticfiles %}

{% block bodycontent_wrapper %}

<div class="container">
  {# LOGO AND TITLE #}
  <h3 class="text-muted">
    {{ SETTINGS.SITE_NAME }}
  </h3>
</div>

<div class="container">
  {# MAIN NAVIGATION #}
  {% block main_nav_wrapper %}
  <nav class="navbar navbar-default" role="navigation">
    {% block nav_main %}
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        {% block nav_main_content %}{% endblock %}
      </ul>
      <ul class="nav navbar-nav pull-right">
        {% block user_menu_content %}{% endblock %}
      </ul>
    {% endblock %}
  </nav>
  {% endblock %}
</div>



<div class="container">

  {# SUB NAVIGATION #}
  {% block sub_nav_wrapper %}
  {% endblock %}
  {% block breadcrumbs_content %}
  {% endblock %}

</div>

{% if not HIDE_COOKIELAW_BANNER %}
{% endif %}

{# CONTENT #}
<div class="page-content container">
  <div class="row">
    {% block side_nav_wrapper %}
    {% block side_nav_tag %}
    <div class="col-md-12">
    {% endblock %}
    {% block side_nav_content %}{% endblock %}
    </div>
    {% endblock %}

    {% block pagecontent_wrapper %}
    {% block pagecontent_tag %}
    <div class="col-md-12">
    {% endblock %}
    {% block pagecontent %}
    {% endblock %}
    </div>
    {% endblock %}
  </div>
</div>

{% endblock %}
