{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block pagecontent %}
<h2>
  Create a new Ad!
</h2>

<div>
  {% crispy form %}
</div>

<div>
  <a href="{% url 'ads_list' %}">Back to list</a>
</div>
{% endblock %}
