{% extends 'ads/ads_base.html' %}

{% load static i18n %}

{% block title %}
  {{ block.super }}{% trans 'list' %}
{% endblock %}

{% block 'content' %}
  Hej!
  {% for obj in object_list %}
    <div>{{ obj.subject|truncatechars:4 }}</div>
    <div>{{ obj.uuid }}</div>
    <div>{{ obj.created }}</div>
    {% if obj.picture %}
    <div>{{ obj.picture.url }}</div>
    <img src="{% static obj.picture.url %}" alt='an image' width="200"/>
    {% endif %}
  {% endfor %}

  <a href="{% url 'ads_create' %}">Create a new Ad</a>
{% endblock %}

